doctype html
head(lang="es")
    meta(charset="UTF-8")
    title
body
    -
        const datosA={
            nombre:'Chrsitian',
            apellido:'Apaza'
        }
    each val,key in datosA
        p=`${val}, es un ${key}`