doctype
head
    title Mi Primera Pagina Web
    meta(name="viewport"  content="")
    link(rel="stylesheet" href="css/styles.css")
body.main
    h1(data-title="first") Hola Mundo
    div#app
        span hola mundo
